@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background-dark: #131822;

  --text-color-dark: #ffffffde;
  /* --text-color-light:black; */
  /* --background-light:#ffffff; */
  /* --button-bg:#efefef; */
  --div-border: rgba(214, 214, 214, 0.566);


  --toastify-toast-min-height: 44px;
  --toastify-toast-max-height: 50px;
  /* --toastify-color-progress-success:#ffff;
  --toastify-color-progress-error:#ffff;
  --toastify-icon-color-error: #ffff;
  --toastify-icon-color-success: #ffff; */



  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --button-bg: #141820;
  --div-border: #2b2b2b;
  color-scheme: light dark;
  color: var(--text-color-light);
  /* background-color: var(--background-light); */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .neon-box {
    box-shadow: 0 0 20px #00f6ff, 0 0 30px #00f6ff, 0 0 40px #8400ff, 0 0 50px #8400ff;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--background-dark) inset;
  /* Same background as the input */
  -webkit-text-fill-color: #5ceafa !important;
  /* Your custom text color */
}

/* .rdlGrdnt {
  background-image: radial-gradient(
    white 0%,
    #00f7ffc2 12%,
    #00f7ff6f 24%,
    #00f7ff4e 37%,
    #00f7ff3d 50%,
    #00f7ff2c 62%,
    #00f7ff15 75%,
    #00f7ff0c 88%,
    #00f7ff00 100%
  );
}
.ctaBtn::after {
  content: "";
  @apply w-3/5 h-2 absolute left-1/2 -translate-x-1/2 bottom-[-4px] rounded-[100%] rdlGrdnt;
} */


.box {

  --border-angle: 0turn;
  --main-bg: conic-gradient(from var(--border-angle),
      #213,
      #112 5%,
      #112 60%,
      #213 95%);

  border: solid 2px transparent;
  border-radius: 8px;

  /* Gradient border */
  --gradient-border: conic-gradient(from var(--border-angle),
      transparent 35%,
      #00f6ff,
      #8400ff 80%,
      transparent);

  background:

    var(--main-bg) padding-box,

    var(--gradient-border) border-box,

    var(--main-bg) border-box;


  animation: bg-spin 3s linear infinite;
}
select option {
 
  background: #131721;
  color: #00f6ff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.box2 {

  --border-angle: 0turn;
  --main-bg: conic-gradient(from var(--border-angle),
      #131822,
      #131822 5%,
      #131822 60%,
      #131822 95%);

  border: solid 2px transparent;
  border-radius: 8px;

  /* Gradient border */
  --gradient-border: conic-gradient(from var(--border-angle),
      transparent 80%,
      #00f7ff 5%,
      transparent);

  background:

    var(--main-bg) padding-box,

    var(--gradient-border) border-box,

    var(--main-bg) border-box;


  animation: bg-spin 3s linear infinite;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

.box:hover {
  animation-play-state: paused;
}


@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}


@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animate-blob {
    animation: blob 7s infinite;
  }
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(30px, -50px) scale(1.1);
  }

  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}


* {
  outline: none;
  /* font-family: "Russo One", serif; */
  /* font-family: "Titillium Web", serif; */
  font-family: "Exo 2", serif;
  scrollbar-width: thin;
  user-select: none;
  -moz-user-select: none;
  scrollbar-color: #646cff #2a1454 !important;

}



div {
  border-color: var(--div-border);
}


.Toastify__toast-body {
  flex: none;
}

.Toastify__progress-bar--success {
  height: 2px;
  position: absolute;
  bottom: 0;
}

.Toastify__progress-bar--error {
  height: 2px;
  position: absolute;
  bottom: 0;
}

.Toastify__progress-bar {
  height: 2px;
  position: absolute;
  bottom: 0;
}

.Toastify__toast {
  border: 0.1px solid;
  border-color: #585858;
  font-size: small;
}

.Toastify__toast-icon {
  width: 15px;
  height: 15px;
}


.Toastify__progress-bar {
  background-color: #fff;
  /* Replace with your desired color */
}

.Toastify__progress-bar--container {
  background-color: #ffffff;
  /* Set this to white */
}

.toastify-icon-success {
  width: 10px;
  height: 10px;
}

a {
  font-weight: 500;

  text-decoration: inherit;
}

a:hover {
  color: cyan ;
}


body {
  background-color: var(--background-dark);
  color: var(--text-color-dark);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  /* overflow-x: hidden; */

  /*Ankit Added these */
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*Ankit Added these above */
}

/*Again ankit added this*/
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
/* up until here above */


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}




input[data-theme="dark"] {
  background-color: var(--button-dark);
}

input {
  background-color: var(--button-light);
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}


/* .Diary{
  scrollbar-width: thin;
  user-select: none;
  -moz-user-select: none;
  scrollbar-color: #646cff #2a1454;
} */